---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
---

<Layout title='Welcome to my Portfolio.'>
  <main>
    <section class='w-full lg:w-[740px] mx-auto py-44'>
      <h1 class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-4'>
        Hey, I'm Alvaro <a
          href='https://linkedin.com/in/jrarturo'
          target='_blank'
          rel='noopener noreferrer'
          class='flex justify-center items-center mt-4'
        >
          <Badge role='img' aria-label='wave'>Open to work</Badge>
        </a>
      </h1>
      <h2 class='text-xl opacity-90 text-wrap'>
        <span class='text-bold text-yellow-200/90'
          >Software Developer From 🇨🇴 with</span
        >
        <span class='text-bold text-blue-200/95'>4+ years of experience</span>
        <span class='text-red-200/90 opacity-95'
          >JavaScript | React.js | Vue.js | Angular | Node.js | .Net Core |
        </span>
        Always learning 🚀
      </h2>
    </section>
  </main>
</Layout>
