<header
  class='flex justify-center px-5 items-center py-5 w-full xl:w-[1120px] mx-auto flex-wrap gap-x-10 gap-y-5'
>
  <img
    class='rounded-full size-36 xl:size-44'
    src='https://media.licdn.com/dms/image/D4E03AQHa6zZTJGzOZQ/profile-displayphoto-shrink_800_800/0/1670383016918?e=1723075200&v=beta&t=SXdL7j15d5U16OilpLMAx0OEcbUL-Ta6TtyL0xBxZyc'
    alt='ajam photo'
  />

  <nav
    class='flex flex-row gap-x-10 opacity-90 flex-wrap gap-y-5 items-center justify-center'
  >
    <a href='#top'>Home</a>
    <a href='#experience'>Experience</a>
    <a href='#projects'>Projects</a>
    <a href='#about'>About</a>
    <a href='#contact'>Contact</a>
  </nav>
</header>
